
body {
    margin: 0px; 
    font-family: arial, sans-serif, tahoma;
    font-weight: normal;
 
}
h1 {
    font-size:x-large;
    color: #0e2452;
    align-items: center ;
    
}
img{

    float: right;
    margin-left: 100px;

}
.section{
    border-bottom: thick;
}

table {
    width: 80%;
  
}

.nah1{
    width:30% ;
}

.cv-document {
	box-sizing: border-box;
	border: none;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	vertical-align: baseline;
	text-decoration: none;
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: arial, sans-serif, tahoma;
	font-size: 10pt;
}

.cv-page {
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    width: 900px;
    min-height: 900px;
    margin: 0 auto;
    box-shadow: 0 0 1px rgba(0,0,0,.5);
    background-color: #fff;
    position: relative;

    padding: 40px
}
div{
    margin: 40px 40px 40px 40px ;
}

